@import '../../Assets/mixins';
.sample-list{
  counter-reset: roman;
  list-style-type: none;
  li{
    @include secondaryFont();
    position: relative;
    color:$white;
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
    &:before{
      content: "("counter(roman, lower-roman)")";
      counter-increment: roman;
      position: absolute;
      left: -36px;
    }
    +li{
      margin-top:10px;
    }
  }
}